/*Estilos generales*/
*{
    margin: 0;
    padding: 0;
}

@import "./backgrounds.css";

.flex-container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

/*Título principal*/
h1{
    padding-top: 150px;
    text-align:center;
    background-color:rgba(66, 184, 129, 0.1);
    color: white;
}

/*Barra de navegación*/
.menu {
    padding: 20px;
    width: 100%;
    margin: 0 auto;
    position: fixed;
    top: 0;

}

/*ul principal*/
.nave {
    list-style: none;
    display: flex;
    height: 40px;
    justify-content: center;
    align-items: center;
}

/*li principal*/
.item{
    display: flex;
    flex: 1;
    justify-content: center;
    text-align:center;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    position: relative;
}

/*li principal:hover*/
.item:hover{
    background-color: rgba(230, 100, 49, 0.1);
    border: 1px solid black;
}

/*Enlaces desde li principal*/
.item a{
    display: block;
    color: #000;
    text-decoration: none;
}

.item a:hover{
    /* color:aquamarine; */
}

/*ul secundario*/
.sub_nave {
    display: none;
    position: absolute;
    top: 15px;
    padding-top: 25px;
}

/*li secundario*/
.sub_item {
    list-style: none;
}

.item:hover .sub_nave {
    display: block;
}

div {
    display: flex;
    flex: 1;
    justify-content: center;
    height: 100%;
    align-items: center;
    flex-direction: column;
}

p {
    display: flex;
    align-items: center;
    color: black;
    font-size: xx-large;
    font-weight: bold;
    width: 700px;
    height: 300px;
    border-radius: 20px;
    text-align: center;
    border: 0;
}
